* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.775)),
    url(../img/code_fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bgc-fff80{
    background-color: #ffffff80;
    /* background-color: #000000; */
}

.bgc-ccc80{
    background-color: #cccccc80;
}


.nav-a {
    font-size: 20px;
    font-weight: 500;
}



h1 {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
}

h2 {
    color: #ffffff;
}

h3 {
    color: #00fdcf;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 30px;
}

h4 {
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    color: #ffffff;
}

h5 {
    color: #ffffff;
    margin: 0;
    font-size: 40px;
    font-weight: 800;
}

h6 {
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
}

li {
    list-style-type: none;
}



/* Logo init */
.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container p {
    color: #ffffff;
    margin: 0 8px;
    font-size: 10px;
    font-weight: 300;
}
/* Logo end */



/* Navbar init */
.header-home {
    position: sticky;
    top: 0px;
}

.dropdown-hover:hover {
    background-color: #83838380;
}
/* Navbar end */



/* Banner init */

.banner-greet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
}

.banner-greet h1 {
    font-size: 92px;
}

.banner-greet span {
    color: #00fdcf;
}

.banner-greet p {
    font-size: 48px;
    color: #ffffff;
}
/* Banner end */



/* Brands init */
.brands span{
    font-size: 20px;
    color: #00fdcf;
}

.brands-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.brands-container h3 {
    font-size: 50px;
    color: #ffffff;
}
.brands-img-container {
    display: flex;
    width: 900px;
    height: 430px;
    margin: 30px;
}

.brands-img-container img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.brands-img-container img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
/* Brands end */



/* Home Main */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-main-section {
    width: 80%;
    margin: 40px;
}


/* FOOTER INIT */
.footer-home {
    padding-bottom: 60px;
    padding-top: 30px;
    width: 100%;
    text-align: center;
    bottom: 0;
}

.footer-home ul {
    margin: 0;
    padding: 0;
}

.footer-home ul li {
    display: inline;
    margin: 0 5px;
}

.social-svg {
    width: 23px;
    height: 23px;
}
/* FOOTER END */



/* NO HOME */

.principal-container {
    display: flex;
}


/* MENU NAVBAR */
.menu-container {
    background-color: #ffffff80;
    margin: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    width: 200px;
    height: 100vh;
}

.menu-navbar {
    display: block;
    width: 100%;
}

.menu-navbar ul li {
    padding: 8px 0 8px 20px;
    border-top: 1px solid #ffffff;
}

.menu-navbar ul .menu-navbar-contact {
    border-bottom: 1px solid #ffffff;
}

.menu-footer {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.menu-footer ul li {
    display: inline;
    margin: 0 5px;
}

/* MAIN */

.main-container {
    display: inline;
    margin-top: 180px;
    width: 100%;
    margin-right: 80px;
}


.main-info-container {
    display: flex;
    align-items: center;
}

.main-text {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 25px;
}

.img-container {
    margin-left: 50px;
    display: flex;
    justify-content: center;
}

.skills-img {
    margin: 0 5px;
}

/* PROGRESS BAR */

.progress-bar {
    margin-top: 50px;
}

.progress-bar p {
    color: #ffffff;
    font-size: 28px;
    margin-bottom: 5px;
}

.progress-bar-space {
    height: 5px;
    width: 100%;
    background-color: #ffffff80;
    margin-bottom: 20px;
}

.progress-bar-value {
    height: 5px;
}

.front-end {
    background-color: #00fdcf;
    width: 85%;
}

.react-js {
    background-color: #bb00fd;
    width: 70%;
}

.back-end {
    background-color: #ff7042;
    width: 50%;
}

/* WORKS */
.mt-containers {
    margin-top: 50px;
}

.works-grid {
    display: grid;
    grid-template-rows: repeat(auto-fill, 170px);
    grid-template-columns: 1fr;
}

.main-works {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.works {
    height: 150px;
    background-color: #ffffff80;
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-out;
}

.works:hover{
    transform: scale(0.98);
}

.redbull {
    background-image: linear-gradient(rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0.300)), 
    url('./img/banner-img/redbull.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tesla {
    background-image: linear-gradient(rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0.300)), 
    url('./img/banner-img/tesla.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cocacola {
    background-image: linear-gradient(rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0.300)), 
    url('./img/banner-img/cocacola.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bose {
    background-image: linear-gradient(rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0.300)), 
    url('./img/banner-img/bose.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.virgin {
    background-image: linear-gradient(rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0.300)), 
    url('./img/banner-img/virgin.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project {
    width: 100px;
    height: 100px;
    background-color: #00fdcf90;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-out;
}
.project:hover {
    transform: scale(1.2);
    border: 2px solid white;
}

.project p {
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
    font-size: 17px;
}

/* CONTACT */
.main-contact {
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contact {
    margin: 10px 10px;
}

.form {
    width: 100%;
}

.label {
    width: 100%;
}


.input {
    background-color: #ffffff80;
    min-width: 500px;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    margin: 4px;
}

.submit-btn {
    background-color: #ffffff80;
    border: none;
    margin: 4px;
    padding: 5px;
}

.msg-input {
    height: 300px;
}
