@import '../base/colors';


.banner-greet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 95vh;

    h1 {
        display: none;

    }

    h2 {
        font-size: 92px;
        
        @media screen and (max-width: 768px) {
            font-size: 64px;
        }

        @media screen and (max-width: 576px) {
            font-size: 50px;
        }
    }

    span {
        color: $aqua-ppal;

    }

    p {
        font-size: 46.5px;
        color: $white;

        @media screen and (max-width: 768px) {
            font-size: 32.5px;
        }

        @media screen and (max-width: 576px) {
            font-size: 25.5px;
        }
    }
}