


.banner-greet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;

    h1 {
        font-size: 92px;
        
    }

    span {
        color: #00fdcf;

    }

    p {
        font-size: 46.5px;
        color: #ffffff;

    }
}