@import '../base/colors';


.brands-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        font-size: 50px;
        color: $white;

        span{
            font-size: 20px;
            color: $aqua-ppal;
        }
    }

    .brands-img-container {
        display: flex;
        width: 900px;
        height: 430px;
        margin: 30px;
    
        img {
            width: 0px;
            flex-grow: 1;
            object-fit: cover;
            opacity: .8;
            transition: .5s ease;
    
            &:hover {
                cursor: crosshair;
                width: 300px;
                opacity: 1;
                filter: contrast(120%);
                
            }
        }
    }

    @media screen and (max-width: 992px) {
        display: none;
    }
}

