$aqua-ppal: #00fdcf;
$fuschia-ppal: #bb00fd;
$orange-ppal: #ff7042;
$aqua-proj: #00fdcf90;
$white-text: #ededed;
$white: #ffffff;
$white-80: #ffffff80;
$white-90: #ffffff90;
$black: #000000;
$bgc-nav: #050505fc;
$bgc-dropdown: #444444cc;
$bgc-dropdown-hover: #83838380;